<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Protótipo - Importação Detectada</title>

    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }

        body{
            width:90vw;
            height:110vh;
            background-image:url("ConfigImport.png");
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
        }
    </style>
</head>
<body>

</body>
</html>